# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Vite specific
dist
*.local

# dotenv environment variables file
.env
.env.local
.env.production

# IDE config
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db