.notification-container {
    position: relative;
}

.notification-icon-button {
    background: none;
    border: none;
    color: #555;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    padding: 5px;
}

.notification-icon-button:hover {
    color: #005A9C;
}

.notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d9534f; /* Merah */
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}